.js-faq {
    margin: 40px;
}

.js-faq > .tópico {
    color: var(--color-title);
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font-display);
    margin-bottom: 20px;
}

.bloco2 {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.bloco2 > h3 {
    color: var(--color-brown);
    font-size: 25px;
    border-bottom: 1px solid var(--color-border-faq);
}

.bloco2 > div {
    margin: 30px 5px;
}

.js-faq p {
    display: none;
}

.js-faq p.active {
    display: block;
}
