footer {
    background-color: var(--background-green);
    color: var(--color-white);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 400;
    font-family: var(--font-primary);
}
