.home {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home > h1 {
    margin: 10px;
    font-size: 45px;
    font-weight: 600;
}

.bloco{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.imagens{
    width: 250px;
    height: 500px;
    overflow-x: hidden;
}

img{
    width: 900px;
    height: 600px;
}

::-webkit-scrollbar {
    background-color: #d9d9d9;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-scroll);
}

.tópico {
    color: var(--color-brown);
    font-size: 34px;
    font-weight: 600;
    font-family: var(--font-display);
    margin: 5px 5px;
}

.conteúdo {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-primary);
}

.js-conteudo section {
    display: none;
}

.js-conteudo section.active {
    display: block;
}